Repository nam-edi/playwright-analyst: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-migrations-check

.pre-commit-config.yaml:

# Configuration des hooks pre-commit
# Installation: pip install pre-commit && pre-commit install

repos:
  # Hooks généraux
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
      - id: pretty-format-json
        args: ['--autofix']
      - id: check-toml
      - id: check-xml

  # Formatage Python avec Black
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        language_version: python3
        args: [--line-length=127]

  # Tri des imports avec isort
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: [--profile=black, --line-length=127]

  # Linting avec flake8
  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        args: [--max-line-length=127, --max-complexity=10]

  # Sécurité avec bandit
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: ['-r', '.', '-ll']  # Niveau medium et high seulement
        exclude: ^(tests/|.*/migrations/|.*/static/).*$

  # Vérification des secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  # Django specific
  - repo: local
    hooks:
      - id: django-check
        name: Django Check
        entry: python manage.py check
        language: system
        pass_filenames: false
        files: \.(py)$
      
      - id: django-migrations-check
        name: Django Migrations Check
        entry: python manage.py makemigrations --check --dry-run
        language: system
        pass_filenames: false
        files: models\.py$

# Configuration globale
fail_fast: false
default_stages: [commit, push]

🔧 Corriger les tests des modèles Django
  integrations/tests.py
  pyproject.toml
  testing/tests.py
Due: django-check

✨ Configurer pre-commit hooks fonctionnels
  .pre-commit-config.yaml
  .secrets.baseline
  setup.cfg
Due: none

✅ Implémentation complète suite de tests et CI/CD pipeline
  .github/README.md
  .github/workflows/deploy-main.yml
  .github/workflows/django-tests.yml
  .github/workflows/pr-checks.yml
  .github/workflows/security-check.yml
  .pre-commit-config.yaml
  api/tests.py
  core/tests.py
  core/views.py
  integrations/tests.py
  projects/tests.py
  testing/tests.py
Due: django-check

feat: Amélioration couverture de tests de 37% à 43%
  .github/workflows/pr-checks.yml
  core/test_management.py
  core/tests.py
  integrations/tests.py
  projects/tests.py
  testing/tests.py
Due: django-check

fix: Update deprecated GitHub Actions & apply code formatting
  .github/workflows/security-check.yml
Due: none

fix: Synchronize Black configuration between local and pre-commit
  .pre-commit-config.yaml
  core/admin.py
  integrations/admin.py
Due: django-check

fix: Synchronize Black configuration between local and pre-commit
  .github/README.md
  .pre-commit-config.yaml
  setup.cfg
Due: none

fix: Synchronize Black configuration between local and pre-commit
  .github/workflows/pr-checks.yml
Due: none

security: Fix mark_safe vulnerabilities in ColorPickerWidget
  .bandit
  .github/workflows/pr-checks.yml
  .gitignore
  core/widgets.py
Due: django-check

security: Fix mark_safe vulnerabilities in ColorPickerWidge
  core/apps.py
Due: django-check

fix: Résoudre les erreurs de permissions GitHub Actions
  .github/workflows/deploy-main.yml
Due: none

fix: Résoudre les erreurs de permissions GitHub Actions (#6)
  .github/workflows/deploy-main.yml
Due: none

Suppression de tous les tests unitaires et retrait des workflows de test
  .github/workflows/deploy-main.yml
  .github/workflows/django-tests.yml
  .github/workflows/pr-checks.yml
  api/tests.py
  api/urls.py
  api/views.py
  core/decorators.py
  core/error_views.py
  core/management/commands/import_playwright.py
  core/middleware.py
  core/services/context_service.py
  core/templatetags/test_filters.py
  core/test_management.py
  core/tests.py
  core/urls.py
  core/views.py
  integrations/tests.py
  projects/admin.py
  projects/migrations/0002_project_excluded_tags.py
  projects/models.py
  projects/tests.py
  pw_analyst/settings.py
  pw_analyst/urls.py
  templates/404.html
  templates/500.html
  templates/administrations/_projects_section.html
  templates/core/setup_actions.html
  templates/cotton/status-badge.html
  templates/cotton/test-card.html
  templates/cotton/test-detail-panel.html
  templates/documentations/documentation.html
  templates/documentations/sections/api.html
  templates/documentations/sections/navigation.html
  templates/documentations/sections/playwright.html
  templates/execution/execution_detail.html
  templates/home.html
  templates/project/project_excluded_tags.html
  testing/tests.py
  testing/urls.py
  testing/views.py
Due: django-check, django-migrations-check

Nettoyage des migrations et ajout de fichiers tests.py vides
  .pre-commit-config.yaml
  api/migrations/0001_initial.py
  api/migrations/0002_initial.py
  api/tests.py
  core/migrations/0001_initial.py
  core/migrations/0002_initial.py
  core/tests.py
  integrations/migrations/0001_initial.py
  integrations/tests.py
  projects/migrations/0001_initial.py
  projects/migrations/0002_initial.py
  projects/tests.py
  testing/migrations/0001_initial.py
  testing/tests.py
Due: django-check

Nettoyage des migrations et ajout de fichiers tests.py vides (#7)
  .pre-commit-config.yaml
  api/migrations/0001_initial.py
  api/migrations/0002_initial.py
  api/tests.py
  core/migrations/0001_initial.py
  core/migrations/0002_initial.py
  core/tests.py
  integrations/migrations/0001_initial.py
  integrations/tests.py
  projects/migrations/0001_initial.py
  projects/migrations/0002_initial.py
  projects/tests.py
  testing/migrations/0001_initial.py
  testing/tests.py
Due: django-check

feat: améliorer l'interaction avec la cartographie des tags
  templates/home.html
Due: none

feat: améliorer l'interaction avec la cartographie des tags (#8)
  templates/home.html
Due: none
